<div class="container text-center">
  <div class="flex-row d-flex align-items-center justify-content-center">
    <img class="emagister-logo" src="./../assets/img/emagister-logo.JPG" />
    <div>Magister</div>
  </div>
  <div class="row justify-content-center">
    ¡Comencemos con tu matrícula!
  </div>
  <div class="row justify-content-center">
    <div class="col-12">Para comenzar a</div>
    <div class="col-12">especializarte, vamos a</div>
    <div class="col-12">realizar unas preguntas para</div>
    <div class="col-12">darte el mejor de los servicios</div>
    
  </div>
  <button class="btn btn-primary" [routerLink]="['/principal']">Comenzar</button >
  <div>Volver atrás</div>
</div>
