.container {
  color: white;
  font-family: sans-serif;
  margin:auto;
  .emagister-logo {
    width: 30px;
    margin-right: 16px;
  }
  button {
    padding-right: 3%;
    padding-left: 3%;
    font-weight: bold;
  }

  p {
    text-align: center;
  }
}
