img,button{
    display:block;
    margin:auto;
}

button{
    padding-right: 3%;
    padding-left: 3%;
    font-weight: bold;
}

p{
    text-align: center;
    font-family: sans-serif;
    color: white;
}